body{
  width: 80%;
  margin-left:10%;
  border:solid;
  background-color: #424242;
}
#wrapper{
}


#navbar{
height:auto;
}

body{
  width: 80%;
  margin-left:10%;
  border:solid;
  background-color: #424242;
}
#wrapper{
  background-image: url("afbeeldingen/grey.jpg");
}
#navbar{
height:auto;
}
.winkelmand{
  border:solid;
  width:200px;
  height:50px;
  margin-left:-2px;
  background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}
.pakketcloud{

}

#pakketgoud{
  width:15%;
  background-color: white;
  text-align:center;
  display: inline-block;
}
#pakketten{
text-align: justify;
margin-top:20px;
margin-bottom:20px;
}
.brons{
margin-left:11%;
margin=right:5.5%;
}
.silver{
margin-left:5.5%;
margin=right:5.5%;
}
.goud{
margin-left:5.5%;
margin=right:5.5%;
}
.platinum{
margin-left:5.5%;
margin=right:5.5%;
margin-bottom:20px;
}
#button{
width:80%;
margin-left0%;
margin-top:10px;
background-color:yellow;
margin-bottom:5px;
}

#web{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color:black;
  margin-bottom:10px;
}


a{
  text-decoration: none;
  color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}





footer{
  height:auto;
  background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
  margin-bottom:0px;
}
a{
  text-decoration: none;
  color:black;
}
