body{
  width: 80%;
  margin-left:10%;
  border:solid;
  background-color: #424242;
}
#wrapper{
}
#navbar{
height:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
}

.images {
  display: inline;
  margin-bottom:30px;
}

.imagesleft{
  width:48%;
  text-align:center;
  color:#eeeeee;
  float: left;

}
.imagesright{
width:48%;
float: right;
text-align:center;
color:#eeeeee;
}




footer{
  height:auto;
  clear: both;
  background-image: url(https://www.walldevil.com/wallpapers/a68/texrura-metal-deviantart-wallpaper-vegardhw-texture-linen-grey-textured-wallpapers.jpg);
}
a{
  text-decoration: none;
  color:black;
}
